<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Botones</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large">Large</ion-button>
  <ion-button>Default</ion-button>
  <ion-button size="small">Small</ion-button>

  <ion-button
    expand="full"
    color="tertiary"
    class="mt-3"
    [routerLink]="'/alert'"
    >Anchor</ion-button
  >

  <ion-row class="mt-3">
    <ion-col size="4">
      <ion-button expand="full" fill="outline">Outline + Full</ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button expand="block" fill="outline">Outline + Block</ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button shape="round" fill="outline">Outline + Round</ion-button>
    </ion-col>
  </ion-row>

  <ion-button class="mt-3">
    <ion-icon slot="start" name="star"></ion-icon>
    Left Icon
  </ion-button>
  
  <ion-button>
    Right Icon
    <ion-icon slot="end" name="star"></ion-icon>
  </ion-button>
  
  <ion-button>
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>
</ion-content>
