<app-header title="Grid"></app-header>

<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let item of items; let i = index"> {{i+1}} </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        *ngFor="let item of items; let i = index"
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
      >
        <ion-card>
          <ion-card-header>
            <ion-card-title>Awesome Title</ion-card-title>
            <ion-img src="/assets/shapes.svg"></ion-img>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ad
            voluptate numquam, maxime repellat temporibus a placeat, dignissimos
            ab corrupti quae doloribus atque. Unde possimus incidunt eum,
            placeat mollitia quia.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
